@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.fullscreen-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.messages-container {
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.typewriter {
  text-transform: none!important;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0; /* Remove auto margin to align left */
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
  